<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} — {{ site.title }}</title>
</head>
<body>
  <article>
    <h1>{{ page.title }}</h1>
    <p><small>{{ page.date | date: "%d %b %Y" }} • Autor: {{ page.author }}</small></p>
    {{ content }}

    {% assign a = site.data.authors[page.author] %}
{% if a %}
  <div class="author">
    {% if a.avatar %}<img src="{{ a.avatar }}" alt="{{ a.name }}" width="48">{% endif %}
    <strong>{{ a.name }}</strong><br>
    <small>{{ a.bio }}</small>
  </div>
{% endif %}

  </article>
</body>
</html>
